/* Styles for index.html */
:root {
  --primary-text-color: #2a2a2a;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --grey: #757575;
  --grey-light: rgba(255, 255, 255, 0.6);
  --grey-ultra-light: #F5F4FA;
  --background-color: #2F303A;
  --background-color-for-hero:#C4C4C4;

} 

/* Box-sizing */
html {
  box-sizing: border-box;
}


/* Body */
body {
  margin: 0;

  color: var(--primary-text-color);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-family: Roboto, sans-serif;
}

/* Class .section-title  */

.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Class .container  */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Class .list  */
.list {
  list-style: none;
  
  margin: 0;
  padding: 0;
}

/* Class .link  */
.link {
  text-decoration: none;
}

/* Class .image */
.image {
  width: 100%;
  height: auto;
  display:block;
}

/* Class .hidden */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* INDEX.HTML */

/* HEADER */
.header {
  border-bottom: 1px solid #ECECEC
}

.nav,
.header__container  {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  text-decoration: none;
  margin-right: 93px;

  color: var(--title-text-color);

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-name {
  color: var(--accent-color);
}

/* Nav */

.nav__list{
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: color;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link.current{
  color: var(--accent-color);
}

/* hover-line */
.nav__link.current,
.nav__link {
  position: relative;
}


.nav__link.current::after {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: 0;

  width: 100%;
  height: 4px;

  background: #2196F3;
  border-radius: 2px;
  }




/* contacts */

.contacts {
  display: flex;
  align-items: center;
  margin-left: 305px;
}

.contacts__item:not(:last-child){
  margin-right: 30px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0;

  color: var(--grey);
  fill: var(--grey);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition-duration: 250ms;
  transition-property: color, fill;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
}


/* MAIN */

/* Hero */
.hero {
  padding: 200px 0;
  margin: auto;

  background-color: var(--background-color-for-hero);

  background-image:
  linear-gradient(
    rgba(47, 48, 58, 0.475),
    rgba(47, 48, 58, 0.475)),
    url(../images/team.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px; 
  }

.hero__container {
  text-align: center;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  min-width: 200px;
  border: 0;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.button:focus,
.button:hover {
  background-color: #188CE8;;
}

/* Feature */

.feature {
  padding: 94px 0 47px;
}

.feature__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__item {
  width: 270px;
  margin-right: 30px;
}

.feature__item:last-child {
  margin-right: 0;
}

.feature__card {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #F5F4FA;

  width: 270px;
  height: 120px;
}

.feature__title {
  margin: 0 0 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.feature__subtitle {
  margin: 0;

  color: var(--grey);

  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Services */

.services {
  padding: 47px 0 94px;
}


.services__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.services__item {
  position: relative;

  margin-right: 30px;
}

.services__item:last-child {
  margin-right: 0;
}

.services__description {
  position: absolute;
  bottom: 0;
  padding: 27px;
  right: 0;
  left: 0;

  margin: 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);

  background: rgba(47, 48, 58, 0.8);
}

/* Team */

.team {
  background-color: #F5F4FA;
  padding: 94px 0;
}

.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__card {
  margin: 0 30px 0 0;

  background-color:var(--primary-white-color) ;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card-content {
  padding: 30px 32px;

  text-align: center;
}

.team__card-title {
  margin: 0 0 10px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}



.team__card:last-child {
  margin-right: 0;
}

.team__card-description {

  color: var(--grey);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin: 0 0 16px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: #AFB1B8 ;

  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition-duration: 250ms;
  transition-property: background-color, fill;

}
.socials__item:not(:last-child) {
  margin-right: 10px;
  
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color)
}

/* Our clients */

.clients {
  padding: 94px 0;
}
.clients__list {
  display: flex;
  align-items: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link{
  display: flex;
  align-items: center;
  justify-content: center;

  fill: #AFB1B8;


  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 100%;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition-duration: 250ms;
  transition-property: fill, border;
}


.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid #2196F3;
}

/* FOOTER */

.footer {
  padding: 60px 215px;

  background-color: var(--background-color)
}


.logo__footer {
  color: var(--primary-white-color);
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}
.address__item {
  margin-bottom: 9px;
  height: 21px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__list {
  width: 231px;
}

.address__link-address {
  color: var(--primary-white-color);

  font-style: normal;
  letter-spacing: 0.03em;
}

.address__link {
  padding: 0;
  color: var(--grey-light);

  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition-duration: 250ms;
  transition-property: color;
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}
/* Social */

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__social {
margin-left: 70px;

}

.footer__subscribe {
  display: block;
  margin-bottom: 20px;
  margin-top: 0;

  color: var(--primary-white-color);


  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__social-list {
display: flex;
}

.footer__social-item {
display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.social__link--dark {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.social__link--dark :hover,
.social__link--dark :focus {
  background-color: var(--accent-color);
}

/* footer-modal */

.form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  width: 570px;
}

.form__block {
  display: flex;
  align-items: flex-end;
}

.form__input {
  font-size: 16px;
  padding: 15px 10px 15px 16px;
  width: 100%;

  background: var(--background-color);
  color: var(--background-color-for-hero);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  transition-property: solid;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.form__button  {
display: flex;
justify-content: center;
align-items: center;
margin-left: 12px;

padding: 10px 28px 10px 29px ;

fill: var(--primary-white-color);
}

.form__icon {
  padding: 0;
  margin-left: 10px;
}
/* Modal */

.backdrop {
  position: fixed;


  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.2);
  
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
  position: absolute;
  width: 528px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) 250s;
  transition-duration: 250ms;
  transition-property: fill;
}

  .modal__close:focus,
  .modal__close:hover {
  fill:var(--accent-color);
}

.modal__close-icon {
  display: block;
}

/* Form */

.modal__container {
  padding: 40px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.modal__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
;
}

.modal__label {
  display: flex;
  position: relative;
  flex-direction: column;
  
  margin-bottom: 10px;


  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--grey);
}


.modal__input {
  padding: 12px 10px 12px 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition-duration: 250ms;
  transition-property: border-color ;
  
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input:focus +.modal__icon{
  fill: var(--accent-color);
}

.modal__icon {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 12px;

  fill: var(--title-text-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill;
}



.modal__label-textarea {
  padding: 11px 16px;
  margin-top: 4px;
  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition-duration: 250ms;
  transition-property: border-color;

  resize: none;
}


.modal__label-textarea:focus {
border-color: var(--accent-color);
}

.modal__label-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

}

.modal__checkbox-fake {

  display: flex;
  justify-content: center;
  align-items: center;
  background:var(--primary-white-color);
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border-radius: 4px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: solid, background-color;
}

.modal__checkbox-fake:focus {
    outline: 2px solid var(--accent-color);
}

.modal__checkbox-fake {
  fill: var(--primary-white-color) ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill;
}

.modal__checkbox:checked + .modal__checkbox-fake {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
}

.modal__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal__label-agreement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center ;
  text-align: center;
  margin-bottom: 30px ;
  margin-top: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--grey);
  cursor: pointer;
}

.modal__button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
}




/* STYLES FOR PORTFOLIO */

/* MAIN */

/* Filter */

.filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item {
margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__button {
  padding: 6px 22px;
  
  color: var(--title-text-color);
  background-color: var(--grey-ultra-light);
  border: 0;
  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:250ms;
  transition-property:color, background-color, box-shadow;
  
}

.filter__button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color)
}

.filter__button:hover,
.filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}



/* Portfolio */
.portfolio__section {
  padding: 94px 0;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__card {
  margin: 0 30px 30px 0;
}

.portfolio__card:nth-child(3n+3) {
  margin-right: 0;
}

.portfolio__card:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio__link{
  display: block;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition-duration: 250ms;
  transition-property: box-shadow;
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__block {
  padding: 20px 24px;

  border: 1px solid #EEEEEE;
  border-top: 0;
}

.portfolio__title {
  margin: 0 0 4px;

  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__subtitle {
  margin: 0;

  color: var(--grey);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* overlay */


.portfolio__text {
  position: absolute;
  transform: translateY(100%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
  transition-duration: 250ms;
  transition-property: transform, opacity;
  top: 0;
  bottom: 0;
  opacity: 0;

  padding: 63px 24px;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);

  background: rgba(33, 150, 243, 0.9);
}

.portfolio__overlay {
position: relative;
overflow: hidden;
}



.portfolio__link:hover .portfolio__text,
.portfolio__link:focus .portfolio__text {
    transform: translateY(0);
    opacity: 1;
  }



